@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');


html, body {
    min-width: 290px;
    color: #303135;
    background-color: white;
    font-family: 'Lora', serif;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

header{
    /* margin: 10px; */
    font-size: 1.8em;
    background-color: white;
    padding: 1rem;
}

nav{
    display: block;
}

#navbar{
    position: fixed;
    background-color: white;
    top: 0px; 
    left: 0px;
    width:300px;
    height: 100%;
    min-width: 290px;
    border-right: solid;
    border-color: rgb(151, 148, 148);
}

#navbar ul{
    list-style: none;
    display: block;
   padding: 2rem;
   height: 88%;
   overflow-y: auto;
   overflow-x: hidden;
}

#navbar li{
    color: #4d4e53;;
    border-top: 1px solid;
    border-color: rgb(151, 148, 148);
    /* border-width: 1rem; */
    width: 100%;
    padding: 1rem;

}

section{
    display: block;
    padding-left: 320px;
}

section article{
    color: rgb(123, 127, 128);
    margin: 12px;
    
}

a{
    text-decoration: none;
    color: rgb(71, 69, 67);
}